section.team.scrollspy#about
    .container.center
        .row
            .col.s12
                h2 Super squad

        .row
            .col.s12.m6.l3.margin-on-medium-and-down
                img.responsive-img(src='./assets/images/team/annie.jpg', alt='Annie')
                .name.flow-text Annie Redhat
                .title CEO
            .col.s12.m6.l3.margin-on-medium-and-down
                img.responsive-img(src='./assets/images/team/carina.jpg', alt='Carina')
                .name.flow-text Carina Cornwell
                .title UX/UI Engineer
            .col.s12.m6.l3.margin-on-medium-and-down
                img.responsive-img(src='./assets/images/team/greg.jpg', alt='Greg')
                .name.flow-text Greg Willson
                .title CTO
            .col.s12.m6.l3
                img.responsive-img(src='./assets/images/team/russell.jpg', alt='Russell')
                .name.flow-text Russell Branch
                .title R&D

        .row
            .col.s12.m6.l3.margin-on-medium-and-down
                img.responsive-img(src='./assets/images/team/pete.jpg', alt='Pete')
                .name.flow-text Pete Chamberlain
                .title Developer
            .col.s12.m6.l3.margin-on-medium-and-down
                img.responsive-img(src='./assets/images/team/olga.jpg', alt='Olga')
                .name.flow-text Olga Rockwell
                .title Designer
                ul.social
            .col.s12.m6.l3.margin-on-medium-and-down
                img.responsive-img(src='./assets/images/team/jane.jpg', alt='Jane')
                .name.flow-text Jane White
                .title Marketing VP
            .col.s12.m6.l3
                img.responsive-img(src='./assets/images/team/roo.jpg', alt='Roo')
                .name.flow-text Roo
                .title QA

        .row
            .col.s12
                p.flow-text
                    | Want to work on projects that really matter?
                    a.nobr.underline(href='mailto:hr@moderat.com?subject=Job%20Application') We're hiring
                    | .
