section.expertise.scrollspy#expertise
    .container.center
        .row
            .col.s12
                h2 Our expertise

        .row.push-row.flow-text
            .col.s12.m6.l4.margin-on-medium-and-down
                i.icon-basic-heart
                .service-title Heartly solutions

            .col.s12.m6.l4.margin-on-medium-and-down
                i.icon-basic-accelerator
                .service-title Performance optimizations

            .col.s12.m6.l4.hide-on-med-only
                i.icon-basic-target
                .service-title Targeted clients

        .row.flow-text
            .col.s12.m6.l4.margin-on-medium-and-down
                i.icon-basic-bolt
                .service-title Extreme responsiveness

            .col.s12.m6.l4.margin-on-medium-and-down
                i.icon-basic-joypad
                .service-title Lots of fun

            .col.s12.m6.l4.hide-on-med-only
                i.icon-basic-signs
                .service-title Geolocation