section.pricing.scrollspy#pricing
    .container
        .row
            .col.s12.center
                h2 Pricing
        .row
            .col.s12.l4.margin-on-medium-and-down
                .price-box
                    h4 Beginner
                    h5
                        sup $
                        | 19
                    .divider
                    ul.flow-text
                        li 5 users
                            span.info.tooltipped(data-position='right', data-delay='50', data-tooltip='The number of allowed users') ?
                        li Optimisation
                        li Caching
                        li Automation
                            span.info.tooltipped(data-position='top', data-delay='50', data-tooltip='Involves Gulp commands') ?
                        li Validation
                        li Linting
                        li &times;
                        li &times;
                    a.btn-large.btn-flat.waves-effect.waves-light Purchase

            .col.s12.l4.margin-on-medium-and-down
                .price-box.featured
                    h4 Professional
                    h5
                        sup $
                        | 49
                    .divider
                    ul.flow-text
                        li 10 users
                            span.info.tooltipped(data-position='top', data-delay='50', data-tooltip='The number of allowed users') ?
                        li Optimisation
                        li Caching
                        li Automation
                            span.info.tooltipped(data-position='top', data-delay='50', data-tooltip='Involves Gulp commands') ?
                        li Validation
                        li Linting
                        li Templating
                            span.info.tooltipped(data-position='top', data-delay='50', data-tooltip='Includes Jade templates engine') ?
                        li &times;
                    a.btn-large.btn-flat.waves-effect.waves-light Buy

            .col.s12.l4
                .price-box
                    h4 Enterprise
                    h5
                        sup $
                        | 199
                    .divider
                    ul.flow-text
                        li 25 users
                            span.info.tooltipped(data-position='top', data-delay='50', data-tooltip='The number of allowed users') ?
                        li Optimisation
                        li Caching
                        li Automation
                            span.info.tooltipped(data-position='top', data-delay='50', data-tooltip='Involves Gulp commands') ?
                        li Validation
                        li Linting
                        li Templating
                            span.info.tooltipped(data-position='top', data-delay='50', data-tooltip='Includes Jade templates engine') ?
                        li Preprocessors
                            span.info.tooltipped(data-position='top', data-delay='50', data-tooltip='This is for Jade, Sass and CoffeeScript') ?
                    a.btn-large.btn-flat.waves-effect.waves-light Learn more