li: a.waves-effect.waves-light(href='#intro') Intro
li: a.waves-effect.waves-light(href='#cases') Cases
li: a.waves-effect.waves-light(href='#expertise') Expertise
li: a.waves-effect.waves-light(href='#pricing') Pricing
li: a.waves-effect.waves-light(href='#faq') FAQ
li: a.waves-effect.waves-light(href='#about') About
li: a.waves-effect.waves-light(href='#philosophy') Philosophy
li: a.waves-effect.waves-light(href='#journal') Journal
li: a.waves-effect.waves-light(href='#contact') Contact