extends _base.pug

block style
    link(rel='stylesheet', href='./assets/css/nana.css')

block title
    title Nana - Dark Indigo

block scripts
    script(src='./assets/js/neon-bubbles-dark-indigo.js')
