extends _base.pug

block style
    link(rel='stylesheet', href='./assets/css/nana-blue-grey.css')

block title
    title Nana - Blue Grey

block scripts
    script(src='./assets/js/neon-bubbles-blue-grey.js')
