extends _base.pug

block style
    link(rel='stylesheet', href='./assets/css/nana-purple.css')

block title
    title Nana - Purple

block scripts
    script(src='./assets/js/neon-bubbles-purple.js')
