footer
    .container
        .row
            .col.s12.l6 Thanks for coming. &copy; 2010–2017 Nana
            .col.s12.l6
                a.underline.waves-effect.waves-light(href='#!') Facebook
                |  •
                a.underline.waves-effect.waves-light(href='#!') Twitter
                |  •
                a.underline.waves-effect.waves-light(href='#!') VK
                |  •
                a.underline.waves-effect.waves-light(href='#!') Github